.ItemList{
    text-decoration: none;
    background-color: #ffffff;
    width: 100vmax;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    
}
.itemCard {
    text-decoration: none;
    padding: 2rem;
}
a:link, a:visited, a:active {
    text-decoration:none;
}