@import url("https://fonts.cdnfonts.com/css/graffiti-font");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo {
  font-family: "Graffiti font", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #000000;
  text-decoration: none;
}
.nav {
  background-color: #17a08b;
  /* max-width: 100%; */
   padding: .5rem;  
  
}
.list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.linkNav {
  text-decoration: none;
  color: #000000;
  background-color: transparent;
  font-weight: 250;
  font-size: 1.5rem;
}

.linkNav:hover {
  color: #f7f7f7;
  transition: 0.4s;
}
